Repository rectified95/azure-container-networking, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rbtr, @matmerr, @vakalapa, @azure/acn-cns-reviewers, @azure/acn-npm-reviewers

.github/CODEOWNERS:

# The intention of the CODEOWNERS is that a reviewer can be automatically assigned
# to a PR when it is opened instead of needing to be manually assigned or being left 
# unassigned. PRs without assigned Reviewers do not get the prompt attention that 
# they should.
# The CODEOWNERS are not Gatekeepers, just someone who has the domain knowledge to 
# review a PR in an area. 
/**/go.mod  @rbtr @matmerr
/.github/   @rbtr @matmerr @vakalapa
/cns/       @azure/acn-cns-reviewers
/npm/       @azure/acn-npm-reviewers
/zapai/     @rbtr

fix: NPM ipv6/CIDR validation (#1401)
  npm/pkg/dataplane/ipsets/ipset.go
  npm/pkg/dataplane/ipsets/ipsetmanager.go
  npm/pkg/dataplane/ipsets/ipsetmanager_test.go
  npm/util/util.go
Owners: @azure/acn-npm-reviewers

fix: [NPM] manage policies on pod endpoints (#1399)
  npm/pkg/dataplane/dataplane.go
  npm/pkg/dataplane/dataplane_windows.go
  npm/pkg/dataplane/ipsets/ipsetmanager_windows.go
  npm/pkg/dataplane/policies/policy.go
  npm/pkg/dataplane/policies/policymanager_windows.go
  npm/pkg/dataplane/types_linux.go
  npm/pkg/dataplane/types_windows.go
Owners: @azure/acn-npm-reviewers

init
  hack/toolbox/go.mod
  npm/cmd/start.go
  npm/config/config.go
  npm/examples/windows/azure-npm.yaml
  npm/pkg/dataplane/dataplane_ebpf_windows.go
Owners: @rbtr, @matmerr, @azure/acn-npm-reviewers

checkpoint
  npm/cmd/start.go
  npm/pkg/dataplane/dataplane_ebpf_windows.go
  test/ebpf/ebpf.go
  test/ebpf/frontendpolicy.yaml
Owners: @azure/acn-npm-reviewers

boilerplate control plane changes
  npm/pkg/dataplane/dataplane_ebpf_windows.go
  test/ebpf/cmd/main.go
  test/ebpf/ebpf.go
Owners: @azure/acn-npm-reviewers

update global policy map
  npm/pkg/dataplane/dataplane_ebpf_windows.go
  test/ebpf/ebpf.go
Owners: @azure/acn-npm-reviewers

update ip cache map
  npm/pkg/dataplane/dataplane_ebpf_windows.go
Owners: @azure/acn-npm-reviewers

db policy
  npm/pkg/dataplane/dataplane_ebpf_windows.go
  test/ebpf/pods.yaml
  test/ebpf/policies.yaml
Owners: @azure/acn-npm-reviewers

working
  npm/pkg/dataplane/dataplane_ebpf_windows.go
  test/ebpf/ebpf.go
Owners: @azure/acn-npm-reviewers

fix crash on 00; ip cache map not full
  npm/pkg/dataplane/dataplane_ebpf_windows.go
Owners: @azure/acn-npm-reviewers

working
  test/ebpf/buildoutput.txt
  test/ebpf/buildoutput.txt2
  test/ebpf/buildoutput.txt3
  test/ebpf/ebpf_dataplane.go
  test/ebpf/main.go
  test/ebpf/testSockProg.c
  test/ebpf/types.go
Owners: none

add compartments
  test/ebpf/main.go
Owners: none

matts checkpoint by igor
  test/ebpf/ebpf_dataplane.go
  test/ebpf/main.go
Owners: none

attach to second endpoint
  test/ebpf/build.ps1
  test/ebpf/endpoint_prog.o
  test/ebpf/main.go
  test/ebpf/src/endpoint_prog.c
  test/ebpf/src/endpoint_prog.o
  test/ebpf/testSockProg.c
Owners: none

fix remote albel lookup logic
  test/ebpf/endpoint_prog.o
  test/ebpf/main.go
  test/ebpf/src/endpoint_prog.c
  test/ebpf/src/endpoint_prog.o
  test/ebpf/testSockProg.c
Owners: none

var decl on yop
  test/ebpf/src/endpoint_prog.c
  test/ebpf/src/endpoint_prog.o
Owners: none

still too large
  test/ebpf/src/endpoint_prog.c
  test/ebpf/src/endpoint_prog.o
Owners: none

Fix recv prog & register db compartment.
  test/ebpf/ebpf_dataplane.go
  test/ebpf/main.go
  test/ebpf/src/endpoint_prog.c
  test/ebpf/src/endpoint_prog.o
  test/ebpf/testSockProg.c
  test/ebpf/testSockProg.h
Owners: none

Tail calls and policy lookup working.
  test/ebpf/ebpf_dataplane.go
  test/ebpf/main.go
  test/ebpf/src/endpoint_prog.c
  test/ebpf/src/endpoint_prog.h
  test/ebpf/src/endpoint_prog.o
  test/ebpf/testSockProg.c
  test/ebpf/testSockProg.h
Owners: none

runs but global&comp maps broekn..
  test/ebpf/src/endpoint_prog.c
  test/ebpf/src/endpoint_prog.o
Owners: none

Uncomment L3 logic, delete intermediate logging.
  test/ebpf/src/endpoint_prog.c
  test/ebpf/src/endpoint_prog.h
  test/ebpf/src/endpoint_prog.o
Owners: none

init
  hack/toolbox/go.mod
  npm/cmd/start.go
  npm/config/config.go
  npm/examples/windows/azure-npm.yaml
  npm/pkg/dataplane/dataplane_ebpf_windows.go
Owners: @rbtr, @matmerr, @azure/acn-npm-reviewers

start fixing vendor commit
  .vs/ProjectSettings.json
  .vs/VSWorkspaceState.json
  .vs/azure-container-networking/v16/.suo
  .vs/azure-container-networking/v16/Browse.VC.db
  npm/cmd/main.go
  npm/cmd/start.go
  npm/npm.go
  npm/pkg/controlplane/controllers/ebpf/podController.go
  npm/pkg/dataplane/dataplane_ebpf_windows.go
  test/ebpf/build.ps1
  test/ebpf/cmd/main.go
  test/ebpf/ebpf.go
  test/ebpf/ebpf_dataplane.go
  test/ebpf/main.go
  test/ebpf/types.go
Owners: @azure/acn-npm-reviewers

checkpoint
  npm/cmd/start.go
  npm/pkg/dataplane/dataplane_ebpf_windows.go
  test/ebpf/ebpf.go
  test/ebpf/frontendpolicy.yaml
Owners: @azure/acn-npm-reviewers

boilerplate control plane changes
  npm/pkg/dataplane/dataplane_ebpf_windows.go
  test/ebpf/cmd/main.go
  test/ebpf/ebpf.go
Owners: @azure/acn-npm-reviewers

update global policy map
  npm/pkg/dataplane/dataplane_ebpf_windows.go
  test/ebpf/ebpf.go
Owners: @azure/acn-npm-reviewers

working
  npm/pkg/dataplane/dataplane_ebpf_windows.go
  test/ebpf/ebpf.go
Owners: @azure/acn-npm-reviewers

db policy
  npm/pkg/dataplane/dataplane_ebpf_windows.go
  test/ebpf/pods.yaml
  test/ebpf/policies.yaml
Owners: @azure/acn-npm-reviewers

update ip cache map
  npm/pkg/dataplane/dataplane_ebpf_windows.go
Owners: @azure/acn-npm-reviewers

I came, i saw, i fixed.
  npm/pkg/dataplane/dataplane_ebpf_windows.go
  test/ebpf/src/endpoint_prog.c
Owners: @azure/acn-npm-reviewers

inline and logging
  npm/pkg/dataplane/dataplane_ebpf_windows.go
  test/ebpf/src/endpoint_prog.c
Owners: @azure/acn-npm-reviewers

matts checkpoint by igor
  test/ebpf/build.ps1
  test/ebpf/ebpf_dataplane.go
  test/ebpf/main.go
  test/ebpf/src/endpoint_prog.c
  test/ebpf/testSockProg.c
Owners: none

Tail calls and policy lookup working.
  test/ebpf/ebpf_dataplane.go
  test/ebpf/main.go
  test/ebpf/src/endpoint_prog.c
  test/ebpf/src/endpoint_prog.h
  test/ebpf/testSockProg.c
  test/ebpf/testSockProg.h
Owners: none

first pass: windows ebpf tests
  .gitattributes
  .gitmodules
  npm/cmd/main.go
  npm/cmd/start.go
  npm/config/config.go
  npm/npm.go
  npm/pkg/controlplane/controllers/ebpf/namespaceController.go
  npm/pkg/controlplane/controllers/ebpf/networkPolicyController.go
  npm/pkg/controlplane/controllers/ebpf/npmcache.go
  npm/pkg/controlplane/controllers/ebpf/podController.go
  npm/pkg/models/types.go
  test/ebpf/buildoutput.txt
  test/ebpf/buildoutput.txt2
  test/ebpf/buildoutput.txt3
  test/ebpf/ebpf.exe
  test/ebpf/ebpf_dataplane.go
  test/ebpf/main.go
  test/ebpf/src/endpoint_prog.c
  test/ebpf/src/endpoint_prog.h
  test/ebpf/src/endpoint_prog.o
  test/ebpf/testSockProg.c
  test/ebpf/testSockProg.h
  test/ebpf/types.go
  vendor/golang.org/x/sys/unix/syscall_linux_alarm.go
Owners: @azure/acn-npm-reviewers

init
  hack/toolbox/go.mod
  npm/cmd/start.go
  npm/config/config.go
  npm/examples/windows/azure-npm.yaml
  npm/pkg/dataplane/dataplane_ebpf_windows.go
Owners: @rbtr, @matmerr, @azure/acn-npm-reviewers

start fixing vendor commit
  .vs/ProjectSettings.json
  .vs/VSWorkspaceState.json
  .vs/azure-container-networking/v16/.suo
  .vs/azure-container-networking/v16/Browse.VC.db
  npm/cmd/main.go
  npm/cmd/start.go
  npm/npm.go
  npm/pkg/controlplane/controllers/ebpf/podController.go
  npm/pkg/dataplane/dataplane_ebpf_windows.go
  test/ebpf/build.ps1
  test/ebpf/cmd/main.go
  test/ebpf/ebpf.go
  test/ebpf/ebpf_dataplane.go
  test/ebpf/main.go
  test/ebpf/types.go
Owners: @azure/acn-npm-reviewers

I came, i saw, i fixed.
  npm/pkg/dataplane/dataplane_ebpf_windows.go
  test/ebpf/buildoutput.txt
  test/ebpf/buildoutput.txt2
  test/ebpf/buildoutput.txt3
  test/ebpf/ebpf.exe
  test/ebpf/src/endpoint_prog.c
  vendor/golang.org/x/sys/unix/syscall_linux_alarm.go
Owners: @azure/acn-npm-reviewers

checkpoint - call gupdate_global, add endPolicy, wait for all pods.
  npm/cmd/start.go
  npm/pkg/dataplane/dataplane_ebpf_windows.go
  test/ebpf/cmd/main.go
  test/ebpf/ebpf.go
  test/ebpf/frontendpolicy.yaml
  test/ebpf/pods.yaml
  test/ebpf/policies.yaml
  test/ebpf/src/endpoint_prog.c
Owners: @azure/acn-npm-reviewers

Add AlowAll policy to frontend egress. Reduce noisy logs.
  npm/pkg/dataplane/dataplane_ebpf_windows.go
  test/ebpf/src/endpoint_prog.c
  test/ebpf/src/endpoint_prog.o
Owners: @azure/acn-npm-reviewers

Add handling of multiple pods per label. Hard-code backend count.
  npm/pkg/dataplane/dataplane_ebpf_windows.go
Owners: @azure/acn-npm-reviewers
