Repository rectified95/azure-container-networking, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rbtr, @matmerr, @vakalapa, @azure/acn-cns-reviewers, @azure/acn-npm-reviewers

.github/CODEOWNERS:

# The intention of the CODEOWNERS is that a reviewer can be automatically assigned
# to a PR when it is opened instead of needing to be manually assigned or being left 
# unassigned. PRs without assigned Reviewers do not get the prompt attention that 
# they should.
# The CODEOWNERS are not Gatekeepers, just someone who has the domain knowledge to 
# review a PR in an area. 
/**/go.mod  @rbtr @matmerr
/.github/   @rbtr @matmerr @vakalapa
/cns/       @azure/acn-cns-reviewers
/npm/       @azure/acn-npm-reviewers
/zapai/     @rbtr

Revert "move metrics to service port, add healthz, pprof (#1318)" (#1362)
  cns/configuration/configuration.go
  cns/configuration/configuration_test.go
  cns/service/main.go
Owners: @azure/acn-cns-reviewers

pull images from mcr (#1347)
  .pipelines/Dockerfile
  Dockerfile.build
  Dockerfile.cnm
  cni/telemetry/Dockerfile
  cns/Dockerfile
  cns/windows.Dockerfile
  hack/toolbox/Dockerfile.windows
  hack/toolbox/manifests/Dockerfile.heavy
  hack/toolbox/server/Dockerfile.heavy
  hack/toolbox/server/Dockerfile.lite
  npm/Dockerfile
  npm/Dockerfile.windows
  tools/acncli/Dockerfile
Owners: @azure/acn-cns-reviewers, @azure/acn-npm-reviewers

remove workspace and add Make helpers to set it up (#1350)
  .gitignore
  Makefile
  go.work
  go.work.sum
Owners: none

update missed docker image pull (#1354)
  hack/toolbox/manifests/Dockerfile.heavy
  hack/toolbox/server/Dockerfile.heavy
Owners: none

build multiplat manifests with buildah (#1356)
  .pipelines/containers/container-template.yaml
  .pipelines/containers/manifest-template.yaml
  .pipelines/pipeline.yaml
  .pipelines/windows-image.yaml
  Makefile
Owners: none

hack pods for debugging (#1364)
  hack/manifests/busybox-ds.yaml
  hack/manifests/busybox.yaml
  hack/manifests/kubectl.yaml
  hack/manifests/scaler.yaml
  hack/manifests/sshd.yaml
Owners: none

update dependabot (#1370)
  .github/dependabot.yaml
Owners: @rbtr, @matmerr, @vakalapa

build: Add Windows CNS & NPM as Part of Multi-Arch Manifest (#1345)
  .pipelines/containers/container-template-windows.yaml
  .pipelines/containers/manifest-template.yaml
  .pipelines/pipeline.yaml
  .pipelines/windows-image.yaml
  Makefile
  cns/windows.Dockerfile
  npm/windows.Dockerfile
  windows.ps1
Owners: @azure/acn-cns-reviewers, @azure/acn-npm-reviewers

Add NMAgent Client (#1305)
  nmagent/client.go
  nmagent/client_helpers_test.go
  nmagent/client_test.go
  nmagent/config.go
  nmagent/config_test.go
  nmagent/doc.go
  nmagent/error.go
  nmagent/internal/errors.go
  nmagent/internal/errors_test.go
  nmagent/internal/internal.go
  nmagent/internal/retry.go
  nmagent/internal/retry_example_test.go
  nmagent/internal/retry_test.go
  nmagent/internal/validate.go
  nmagent/internal/wireserver.go
  nmagent/internal/wireserver_test.go
  nmagent/nmagent_test.go
  nmagent/requests.go
  nmagent/requests_test.go
  nmagent/responses.go
Owners: none

build overlay cni tgz (#1351)
  Makefile
Owners: none

Fix the CNI conflist of multitenancy and add the correct ipam type (#1373)
  cni/azure-linux-multitenancy.conflist
  cni/azure-windows-multitenancy.conflist
Owners: none

Fix CNS logging (#1372)
  cns/NetworkContainerContract.go
  cns/restserver/api.go
Owners: @azure/acn-cns-reviewers

include 0th address when parsing overlay cidrs (#1365)
  cns/singletenantcontroller/conversion.go
  cns/singletenantcontroller/conversion_test.go
Owners: @azure/acn-cns-reviewers

add independent healthserver for metrics and healthz (#1378)
  cns/healthserver/server.go
  cns/restserver/internalapi.go
  cns/service/main.go
  cns/singletenantcontroller/reconciler.go
  go.mod
  go.sum
Owners: @azure/acn-cns-reviewers, @rbtr, @matmerr

Fix CNS Reconciling and AssignmentMode handling for AKS Swift (#1368)
  cns/service/main.go
  cns/singletenantcontroller/reconciler.go
Owners: @azure/acn-cns-reviewers

CNS Prometheus and Grafana examples (#1366)
  cns/doc/examples/metrics/README.md
  cns/doc/examples/metrics/grafana.json
  cns/doc/examples/metrics/podMonitor.yaml
  cns/doc/examples/metrics/scrape_config.yaml
Owners: @azure/acn-cns-reviewers

CNI plugin version has been updated to the latest version. (#1377)
  scripts/install-cni-plugin.sh
Owners: none

fix/refactor: [NPM] eliminate struct fields to prevent errors & reduce memory (#1374)
  npm/pkg/controlplane/goalstateprocessor/goalstateprocessor.go
  npm/pkg/controlplane/goalstateprocessor/goalstateprocessor_test.go
  npm/pkg/controlplane/translation/translatePolicy.go
  npm/pkg/controlplane/translation/translatePolicy_test.go
  npm/pkg/dataplane/dataplane_test.go
  npm/pkg/dataplane/dataplane_windows.go
  npm/pkg/dataplane/dpshim/dpshim_test.go
  npm/pkg/dataplane/ipsets/ipset.go
  npm/pkg/dataplane/ipsets/ipsetmanager_windows.go
  npm/pkg/dataplane/policies/policy.go
  npm/pkg/dataplane/policies/policy_linux.go
  npm/pkg/dataplane/policies/policy_windows.go
  npm/pkg/dataplane/policies/policymanager_linux_test.go
  npm/pkg/dataplane/policies/policymanager_test.go
  npm/pkg/dataplane/policies/policymanager_windows.go
  npm/pkg/dataplane/policies/policymanager_windows_test.go
  npm/pkg/dataplane/policies/testutils.go
  test/integration/npm/main.go
Owners: @azure/acn-npm-reviewers

Use default build pool for AKS-Swift (#1387)
  .pipelines/singletenancy/aks-swift/e2e-job-template.yaml
Owners: none

Remove duplicate logs (#1375)
  cni/network/invoker.go
  cni/network/multitenancy.go
  cni/network/network.go
  cni/plugin.go
  network/endpoint.go
  network/manager.go
  network/network.go
  network/policy/policy_windows.go
Owners: none

add build/tools to dependabot tracking (#1381)
  .github/dependabot.yaml
Owners: @rbtr, @matmerr, @vakalapa

fix translate bug (#1384)
  npm/pkg/controlplane/translation/parseSelector.go
  npm/pkg/controlplane/translation/translatePolicy.go
  npm/pkg/controlplane/translation/translatePolicy_test.go
  npm/pkg/dataplane/dataplane.go
  npm/pkg/dataplane/ipsets/ipset.go
Owners: @azure/acn-npm-reviewers

Add cleanup network script (#1371)
  cni/scripts/cleanupnetwork.ps1
  hack/toolbox/manifests/webserver.yaml
Owners: none

save image tarballs as pipeline artifacts (#1394)
  .pipelines/containers/manifest-template.yaml
  Makefile
Owners: none

Alegal/add timeout to hns calls (#1369)
  cni/azure-windows-multitenancy.conflist
  cni/azure-windows-swift.conflist
  cni/netconfig.go
  cni/network/network.go
  cni/network/network_linux.go
  cni/network/network_test.go
  cni/network/network_windows.go
  cni/network/network_windows_test.go
  cni/network/plugin/main.go
  network/endpoint.go
  network/endpoint_windows.go
  network/endpoint_windows_test.go
  network/hnswrapper/hnsv1wrapper.go
  network/hnswrapper/hnsv1wrapperfake.go
  network/hnswrapper/hnsv1wrapperinterface.go
  network/hnswrapper/hnsv1wrapperwithtimeout.go
  network/hnswrapper/hnsv2wrapperfake.go
  network/hnswrapper/hnsv2wrapperwithtimeout.go
  network/manager.go
  network/network.go
  network/network_windows.go
  network/network_windows_test.go
Owners: none

fix: [NPM] fix windows intersection of IPs (#1385)
  npm/pkg/controlplane/translation/translatePolicy.go
  npm/pkg/controlplane/translation/translatePolicy_test.go
  npm/pkg/dataplane/dataplane.go
  npm/pkg/dataplane/dataplane_windows.go
  npm/pkg/dataplane/ipsets/ipset.go
  npm/pkg/dataplane/ipsets/ipsetmanager.go
  npm/pkg/dataplane/ipsets/ipsetmanager_windows.go
  npm/pkg/dataplane/policies/policy.go
  npm/pkg/dataplane/policies/policymanager.go
  npm/pkg/dataplane/policies/policymanager_windows.go
  npm/util/const.go
Owners: @azure/acn-npm-reviewers

fix: Service Account Mitigation for CNS on k8s Windows 2022 (#1367)
  cni/network/network_windows.go
  cns/azure-cns-windows.yaml
  cns/kubeconfigtemplate.yaml
  cns/service/main.go
  cns/singletenantcontroller/reconciler.go
  cns/windows.Dockerfile
Owners: @azure/acn-cns-reviewers

fix race (#1400)
  npm/pkg/dataplane/dataplane.go
  npm/pkg/dataplane/dataplane_windows.go
Owners: @azure/acn-npm-reviewers

bump AKS-E to v1.0.5 (#1402)
  .pipelines/singletenancy/aks-engine/e2e-step-template.yaml
Owners: none

Bugfix/14337706/remove state file (#1392)
  cni/network/invoker_azure.go
  cni/network/invoker_azure_test.go
  ipam/api.go
  ipam/pool.go
  ipam/pool_test.go
  platform/os_linux.go
  platform/os_windows.go
  store/json.go
  store/json_test.go
Owners: none

update deps in nested modules (#1410)
  build/tools/go.mod
  build/tools/go.sum
  crd/nodenetworkconfig/manifests/acn.azure.com_nodenetworkconfigs.yaml
  zapai/go.mod
  zapai/go.sum
Owners: @rbtr, @matmerr

Adding the delete rg task (#1403)
  .pipelines/singletenancy/aks-engine/e2e-step-template.yaml
Owners: none

Accelnet run function as part of script (#1406)
  scripts/Set-NetAdapterPriorityVLanTag.ps1
Owners: none

add readyz and pprof listeners (#1395)
  cns/configuration/configuration.go
  cns/healthserver/server.go
  cns/service/main.go
Owners: @azure/acn-cns-reviewers

fix: set hostsubnetprefix for overlay (#1414)
  cni/network/invoker_cns.go
  cni/network/invoker_cns_test.go
Owners: none

return early if CNI state exist and add some style fixes (#1412)
  cni/network/invoker_azure.go
  ipam/api.go
  ipam/pool.go
  store/json.go
Owners: none

Adding Keyvault Shim (#1346)
  go.mod
  go.sum
  keyvault/_example/main.go
  keyvault/shim.go
  keyvault/shim_test.go
  keyvault/testdata/dummy.pem
  keyvault/testdata/dummy.pfx
Owners: @rbtr, @matmerr

add docker and github actions to dependabot config (#1415)
  .github/dependabot.yaml
Owners: @rbtr, @matmerr, @vakalapa

change the field name to NumCores, so that it can be correctly decode in dnc side (#1358)
  cns/NetworkContainerContract.go
  cns/service/main.go
Owners: @azure/acn-cns-reviewers

Refactoring CNSLogger (#1429)
  .golangci.yml
  cns/logger/cnslogger.go
  cns/logger/log.go
Owners: @azure/acn-cns-reviewers
