Repository rectified95/azure-container-networking, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/acn-npm-reviewers, @azure/acn-cns-reviewers, @rbtr, @matmerr, @vakalapa

fix go test (#1329)
  Makefile
Owners: none

create nnc listener concept and adapt existing poolmonitor and swift service to it (#1323)
  cns/api.go
  cns/fakes/monitor.go
  cns/ipampool/monitor.go
  cns/ipampool/monitor_test.go
  cns/service/main.go
  cns/singletenantcontroller/conversion.go
  cns/singletenantcontroller/reconciler.go
  cns/singletenantcontroller/reconciler_test.go
Owners: @azure/acn-cns-reviewers

save local target spec in ipampoolmonitor instead of overwriting from NNC (#1328)
  cns/ipampool/monitor.go
Owners: @azure/acn-cns-reviewers

test: add egress tests (#1302)
  npm/pkg/controlplane/translation/translatePolicy_test.go
Owners: @azure/acn-npm-reviewers

fix: [NPM] updating NPM marks with a mask to not clash with kube-proxy (#1313)
  npm/pkg/dataplane/policies/chain-management_linux.go
  npm/pkg/dataplane/policies/chain-management_linux_test.go
  npm/pkg/dataplane/policies/policymanager_linux_test.go
  npm/util/const.go
Owners: @azure/acn-npm-reviewers

Skip network creation if network already exists in HNS (#1300)
  network/hnswrapper/hnsv2wrapperfake.go
  network/network_windows.go
  network/network_windows_test.go
Owners: none

Make multitenant configs plumb-able in cni manager (#1301)
  tools/acncli/api/constants.go
  tools/acncli/cmd/cni/install.go
  tools/acncli/cmd/install.go
  tools/acncli/installer/conflist.go
  tools/acncli/installer/install.go
Owners: none

move mode to NC and add type (#1331)
  crd/nodenetworkconfig/api/v1alpha/nodenetworkconfig.go
  crd/nodenetworkconfig/manifests/acn.azure.com_nodenetworkconfigs.yaml
Owners: none

fix: correctly return an error for non http 200 response from nmagent (#1333)
  cns/nmagent/client.go
Owners: @azure/acn-cns-reviewers

perf: [NPM] make apply ipsets faster (#1307)
  npm/pkg/dataplane/ipsets/dirtycache.go
  npm/pkg/dataplane/ipsets/dirtycache_linux.go
  npm/pkg/dataplane/ipsets/dirtycache_linux_test.go
  npm/pkg/dataplane/ipsets/dirtycache_test.go
  npm/pkg/dataplane/ipsets/dirtycache_windows.go
  npm/pkg/dataplane/ipsets/dirtycache_windows_test.go
  npm/pkg/dataplane/ipsets/ipset.go
  npm/pkg/dataplane/ipsets/ipsetmanager.go
  npm/pkg/dataplane/ipsets/ipsetmanager_linux.go
  npm/pkg/dataplane/ipsets/ipsetmanager_linux_test.go
  npm/pkg/dataplane/ipsets/ipsetmanager_test.go
  npm/pkg/dataplane/ipsets/ipsetmanager_windows.go
  npm/pkg/dataplane/ipsets/testutils_linux.go
Owners: @azure/acn-npm-reviewers

Support NetworkContainers of Static or Dynamic types (#1325)
  Makefile
  cns/client/client_test.go
  cns/fakes/requestcontrollerfake.go
  cns/restserver/internalapi_test.go
  cns/service/main.go
  cns/singletenantcontroller/conversion.go
  cns/singletenantcontroller/conversion_test.go
  cns/singletenantcontroller/reconciler.go
  cns/singletenantcontroller/reconciler_test.go
Owners: @azure/acn-cns-reviewers

Return if execution mode is v4OnlyOverlay (#1326)
  cni/azure-linux-swift-overlay.conflist
  cni/azure-windows-swift-overlay.conflist
  cni/netconfig.go
  cni/network/invoker_azure_test.go
  cni/network/invoker_cns.go
  cni/network/network.go
  cni/network/network_test.go
  cni/network/network_windows.go
  cni/util/const.go
Owners: none

test: add tests for npm/util (#1303)
  npm/util/util_test.go
Owners: @azure/acn-npm-reviewers

fix: [NPM] clean up logs (#1332)
  npm/pkg/controlplane/controllers/v2/podController.go
  npm/pkg/dataplane/policies/chain-management_linux.go
  npm/pkg/dataplane/policies/chain-management_linux_test.go
  npm/pkg/dataplane/policies/policymanager_linux.go
Owners: @azure/acn-npm-reviewers

test: added additional ingress tests (#1316)
  npm/pkg/controlplane/translation/translatePolicy_test.go
Owners: @azure/acn-npm-reviewers

.github/CODEOWNERS:

# The intention of the CODEOWNERS is that a reviewer can be automatically assigned
# to a PR when it is opened instead of needing to be manually assigned or being left 
# unassigned. PRs without assigned Reviewers do not get the prompt attention that 
# they should.
# The CODEOWNERS are not Gatekeepers, just someone who has the domain knowledge to 
# review a PR in an area. 
/npm/       @azure/acn-npm-reviewers
/cns/       @azure/acn-cns-reviewers
/.github/   @rbtr @matmerr @vakalapa
/go.mod     @rbtr @matmerr
